<header class="top-header bg-dark py-3 shadow-sm">
    <div class="container-fluid flex">
        <div class="row align-items-center">
            <div class="col-md-4">
                <i class="bi bi-bullseye text-primary fs-4"></i>
                <span class="ms-2 fw-bold text-primary fs-5">MDMS</span>
            </div>
            <div class="col-md-4">
                @* <div class="input-group">
                    <span class="input-group-text bg-white border-end-0">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control border-start-0 ps-0" placeholder="Search...">
                </div> *@
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-end align-items-center gap-3">
                    @* <button id="themeToggle" class="btn  text-light btn-sm me-2">
                        <i class="bi bi-sun-fill"></i>
                    </button> *@
                    @* <button class="btn btn-link text-white position-relative">
                        <i class="bi bi-bell fs-5"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                            <span class="visually-hidden">unread notifications</span>
                        </span>
                    </button> *@
                    <a href="/" class="btn btn-light btn-sm">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
